@font-face {
  font-family: 'bree-serif';
  src: font-url('bree_serif.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

#top-bar {
  a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
