<meta charset="utf-8" />
<div class="header">
  <div class="container">
    <%= image_tag(embed_remote_image('https://s3-sa-east-1.amazonaws.com/bahai-brasil/logo.png', 'image/jpg'), class: :logo) %>
    <div class="title">
      Bahá'í Brasil
    </div>
  </div>
</div>

<style type="text/css">
  .header {
    position: relative;
  }

  .header .container .title {
    top: -0px;
    font-size: 20px;
    left: 60px;
    border-bottom: 1px solid #000;
    position: relative;
  }

  .header .container .logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    margin-bottom: -10px;
  }
</style>